@use './common.scss' as*;

/* 상품 공통 */
.prod {
    position:relative;
    width:290px; height:500px;
    @include flex-col; gap:20px;
    a {
        img {width:290px; height:370px;}
        .prod_desc {
            margin-top:20px;
            @include flex-col; gap:16px;
            overflow:hidden;
            .brand_name {width:max-content;
                @include h3_brand_name;}
            .prod_name {
                width:max-content; height:100%;
                @include h3_prod_name; color:$color-grey;
            }
            .price {
                @include flex-row; gap:16px;
                .dc_rate {@include p_price; color:$color-point;}
                .dc_price {@include p_price;}
            }
        }
    }
    .fav_btn {
        position:absolute; right:0; top:394px;
        width:24px; height:24px;
        .fav_icon {width:100%; height:100%}
    }
}

/* 전체 구조 (개별) */
body {
    width:1920px; height:1724px; padding:24px;
    .special {
        margin-bottom:90px;
        @include flex-col; gap:32px;
        .title {
            @include h2_title;
        }
        .contents {
            @include flex-row; gap:48px;
            .contents_left{
                position:relative;
                width:900px; height:900px; overflow:hidden;
                .contents_a {
                    img {width:140%; height:100%; transform:translateX(-200px);}
                }
                .fav_btn {
                    img {
                        position:absolute; top:24px; right:24px; z-index:999;
                        width:24px; height:24px;
                    }
                }
            }
            .contents_right {
                @include flex-col;
                .title_wrap {
                    @include flex-col; gap:32px;
                    .special_title {@include h2_special_title;}
                    .desc {@include p_desc; color:$color-grey;}
                    margin-bottom:140px;
                }
                .sub_tab_menu {
                    @include flex-row; gap:20px; align-items:center;
                    margin-bottom:60px;
                    a {@include p_desc;}
                    a.active {
                        @include h3_brand_name; font-size:$font-size-28;
                        text-decoration: underline;
                        color:$color-point;
                    }
                }
                .prod_wrap {
                    @include flex-row; gap:26px;
                }
            }
        }
    }
    .recommend{
        @include flex-col; gap:32px;
        .title_wrap {
            width:100%;
            @include flex-row; justify-content:space-between;
            .title {@include h2_title;}
            a {
                .desc {@include p_desc; color:$color-grey;}
            }
        }
        .prod_wrap {
            @include flex-row; gap:26px;
        }
    }
}